#time {
  height: 100%;
  padding: 5px;
  background: #9e3b33;
  text-align: center;
  margin: 5px 0px;
}
#time h1 {
  font-size: 60px;
  margin: 0px;
}
#time h2 {
  font-size: 30px;
  margin: 0px;
}
#time p {
  font-size: 18px;
  margin: 0px;
}
